NEXT_PUBLIC_INFURA_ID= 52a90c544d91f991467c657aa6bac125
NEXT_PUBLIC_INFURA_SECRECT= 52a90c544d91f991467c657aa6bac125
VITE_POLYGON_ID_EMAIL="yourEmail+test0@gmail.com"
VITE_POLYGON_ID_PASSWORD="Your!0Very!1Secure2.Password!"
VITE_POLYGON_ID_SCHEMA_ID="77e48fa2-37e6-4818-b767-71588f6c0b73"